*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

.container{
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	background-image: url(star3.jpg);
	background-size: cover;
}

.navbar{
	background: transparent;
	text-transform: uppercase;
	font-size: 25;
	font-weight: bolder;
	height: 12%;
	display: flex;
	align-items: center;
}

.name{
	background: transparent;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 30px;
	font-weight: bolder;
	color: #BDE610;
}

.name span{
	background: transparent;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bolder;
	color: #0F6BF5;
}

.logo{
	background: transparent;
	margin-left: 5%;
	width: 5%;
	cursor: pointer;
}

nav{
	background: transparent;
	flex: 1;
	text-align: right;
}

nav ul{
	background: transparent;
	margin-right: 55px;
}

nav ul li{
	background: transparent;
	list-style: none;
	display: inline-block;
	margin-left: 60px;
}

nav ul li a{
	background: transparent;
	text-decoration: none;
	color: #000;
	font-size: 13px;
}

nav ul li a:hover{
	color: #fff;
}

.container1{
	margin-top: 10px;
	text-align: center;
}

.container1 h4{
	font-size: 30px;
	font-family: 'Roboto';
}

.container1 p{
	color: #303841;
}

.title h4{
	margin-top: 50px;
	font-size: 30px;
	font-family: 'Roboto';
	text-align: center;
}

.container1 .off{
	color: #000;
	font-family: "Garamond";
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

.sub-con{
	text-align: center;
	max-width: 1200px;
	margin: auto;
	margin-top: 0;
	padding: 48px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center; 
}

.teams{
	border-radius: 7%;
	background-image: url(backg1.jpg);
	background-position: center;
	background-size: cover;
	margin: 10px;
	padding: 22px;
	max-width: 30%;
	cursor: pointer;
	transition: 1s;
	box-sizing: border-box;
}

.teams:hover{
	background: #ddd;
	border: 12px;
}

.teams img{
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

.name1{
	text-align: center;
	padding: 12px;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}

.desig{
	font-style: italic;
	color: #000;
}

.about{
	margin: 20px 0;
	font-weight: lighter;
	color: #000;
}

.social-links{
	color: #000;
	margin: 14px;
}

.social-links a{
	color: #000;
	display: inline-block;
	height: 30px;
	width: 30px;
	transition: .4s;
}

.social-links a i{
	color: #000;
}

@media screen and (max-width: 600px){
	.teams{
		max-width: 100px;
	}
}

h1{
	color: #000;
	font-family: "Garamond";
	font-size: 36px;
	font-weight: 600;
}

h4{
	color: #000;
	font-size: 36px;
	text-align: center;
	font-family: Garamond;
	font-weight: bolder;
}

.container p{
	color: #777;
}

.footer{
	text-align: center;
	font-family: 'Segoe UI';
	font-weight: 400;
	background-color: #303841;
	padding: 20px 0;
}

.social-links a{
	text-align: center;
	display: inline-block;
	height: 30px;
	width: 30px;
	transition: .4s;
}

.social-links a i{
	color: #aaa;
	text-align: center;
}

.footer ul{
	text-align: center;
	margin-top: 0;
	padding: 0;
	list-style: none;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 0;
}

.footer ul a{
	color: #aaa;
	text-decoration: none;
	opacity: 0.8;
}

.footer ul li{
	display: inline-block;
	padding: 0 15px;
}

.footer ul li a:hover{
	opacity: 1;
}

.footer .copyright{
	margin-top: 15px;
	text-align: center;
	font-size: 13px;
	color: #aaa;
}